.navbar-nav .nav-item{
    margin-left: 25px;
}
a i{
    font-size: 25px;
    color: rgba(231, 221, 221, 0.908);
    margin-right: 30px;
}
.coffee-image{
    background-image: url('kahve\ arkaplan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.yazi-üst{
    position: absolute;
    top: 40%;
    margin-right: 45%;
    color: aliceblue;
    font-family: "font-italic";
}
.coffee-image1 .yazi-üst2{
    position:absolute;
    top: 40%; 
    margin-right: 45%;
    color: aliceblue;
    font-family: "font-italic";
}

.navrenk{
    opacity: 0.8;
}
.navbar{
    background-color: rgb(0, 0, 0) !important;
}
.buton{
    background-color: black !important;
    color: aliceblue !important; 
    margin-top: 90%;
    margin-left: 12%;
    position: absolute;
}
.buton:hover{
    background: linear-gradient(to right, #5c2c06, #cba67a, #5c2c06);
    color: rgb(0, 0, 0) !important;
    letter-spacing: 3px;
    transition: all 0.5s ease;
}
a i:hover{
color: rgb(139, 66, 10)
}
.coffee-image1{
    background-image: url('coffee\ arkaplan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.navbar1 a:hover{
color: rgb(139, 66, 10) !important;
font-size: 21px;
}

/* Tüm scrollbar alanı */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;

}

/* Scrollbar arka planı */
::-webkit-scrollbar-track {
  color: rgb(236, 165, 112) !important; 
  border-radius: 10px;
  background-color: rgb(139, 66, 10);
}

/* Kaydırılan kısım (thumb) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #5c2c06, #cba67a, #5c2c06);
  border: 1px solid !important; /* kenar çizgisi efekti */
  border-radius: 1px; /* kare köşeler */
 
}

.About{
 text-align: center;
 margin-bottom: 40px;
 font-family: 'Times New Roman', Times, serif;
}
.card img{
  position: relative;
  z-index: 1;
  width: 100%;         /* kart genişliği kadar */  /*  height: 100vh; oranı koruyarak küçültür */
  display: block;
  background-position: center;
  background-size: cover;
  align-items: center;
  max-height: 50% !important;
  object-fit: cover; 
  border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }

.rengim{
    background-color:  rgba(228, 160, 104, 0.793);
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.card1{
    border-radius: 0.25rem 0.25rem 0 0; /* üst köşeleri yuvarla */
 }

 .foto-boyut{
    border: none !important;
    box-shadow: 0 2px 20px rgb(255, 252, 252);
 }

.ulasin:hover{
 background: linear-gradient(to right, #5c2c06, #cba67a, #5c2c06);
 color:rgba(0, 0, 0, 0.793) ;
 border: none;
}
.ulasin{
  background-color: transparent; 
  border: 1px solid rgb(0, 0, 0);
  color: rgba(100, 45, 0, 0.793);
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  box-shadow: 0 1px 20px black;
}
.baslik{
    font-family: 'Times New Roman', Times, serif;
}

.viewbtn{
    transition: all 0.3s ease;
   font-family: 'Courier New', Courier, monospace;
   border-radius: 30px;
   font-size: 110%;
 }
.viewbtn:hover{
  letter-spacing: 3px;
  color: rgb(0, 0, 0) !important;
}
.backfoto{
    background: url('kafe.jpg') no-repeat center center/cover;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

/* deneme */

.hero {
  background-image: url('kafe.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* Tam ekran */
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Opacity efekti */
  display: flex;
  align-items: center; /* Dikey ortalama */
}

.container-fluid {
  z-index: 2;
}

.row {
  height: 100%;
  display: flex;
  align-items: flex-start;
  
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.4rem;
  }
  p {
    font-size: 0.95rem;
  }
}
.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* dikey ortalama */
  align-items: center; /* yatay ortalama */
}

 .hizalama1{
   margin-top: 2rem;
 }

  .hizalama{
   margin-top: 1.5rem;
 }
 .hizalama2{
   margin-top: 3rem;
 }

 .menü{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 3rem;
    margin-top: 10%;
    color: lightsalmon;
    font-weight: bold;
}

 .içecek-menü{
    position: relative;
    text-align: center;
    margin-left: 20px;
   margin-bottom: 5%;
}
  
  .butonmenü{
    color: rgb(255, 255, 255) !important;
    background-color: transparent !important;
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.899);
    margin-top: 3%;
    transition: all 0.5s ease;
}

  .butonmenü:hover{
    background: linear-gradient(to right, #5c2c06, #cba67a, #5c2c06);
    letter-spacing: 3px;
    color: rgb(0, 0, 0) !important;
  }

 .butonmenüespresso{
  background-color:rgba(100, 45, 0, 0.793) !important;
  box-shadow: 0 1px 20px rgba(255, 255, 255, 0.899);
  margin-top: 3%;
  transition: all 0.5s ease;
 }
 .butonmenüespresso{
   background-color:rgba(100, 45, 0, 0.793) !important;
  box-shadow: 0 1px 20px rgba(255, 255, 255, 0.899);
  margin-top: 3%;
  transition: all 0.5s ease;
 }

 .kartboy1 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 75%;
  }

 .kartboy{
  max-height: 100px;
}

.kartboy2 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 70%;
  }
   .kartboy3 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 50%;
  }

  .çizgi{
    border-color: antiquewhite;
  }
/*  */
  .ilkfoto img{    /* ilk fotoğrafın düzeni ve boyutlandırılması */
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 80%;
  }

  .ilkfoto{
    margin-bottom: 5%;
  }
  .ikincifoto{
    margin-top: 5%;
    width: 100%;
    height: 2%;
  }
  .ikincifoto img{    /* ikinci fotoğrafın düzeni ve boyutlandırılması */
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 80%;
  }

  .hero1 {
  background-image: url('mekan1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0; /* üst-alt boşluk */
  position: relative;
  z-index: 1;
  }

.hero2{
  background-image: url('mekan1.jpg'); /* ikinci fotoğraf */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  position: relative;
  z-index: 1;
  margin-top: -90px; /* hero1’e doğru biraz çek */
}

.cizgi{
  border: none;
  height: 3px;
  width: 90%;
  background: linear-gradient(to right, #5c2c06, #cba67a, #5c2c06);
  margin: 20px auto;
  border-radius: 5px;
}
.cardrenk{
  background-color: black;
  color: antiquewhite;
}
.sondüzen img{

    object-position: center 50%; 
}

.sondüzenlatte img{
  object-position: center 55%;
 }

.font{
  font-family: 'Courier New', Courier, monospace;
  font-size: 145%;
  color: #cba67a;
}

/* cold brews */

.butonmenücoldbrews{
  background-color:rgba(100, 45, 0, 0.793) !important;
  box-shadow: 0 1px 20px rgba(255, 255, 255, 0.899);
  margin-top: 3%;
  transition: all 0.5s ease;
 }

.sondüzenbrew img{
  object-position: 2% 50%;
 }

 .sondüzenlemon img{
 
  width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 60%;
 }
.sondüzenlemon{

  width: 100%;
}

.sondüzeniced img{
  object-position: center 70%;
  object-fit: cover;
  
}
.sondüzenchai img{
  object-position: 30% 60%;
  object-position: left center;
 
}

/* sweetse geçiş */

.butonmenüsweets{
  background-color:rgba(100, 45, 0, 0.793) !important;
  box-shadow: 0 1px 20px rgba(255, 255, 255, 0.899);
  margin-top: 3%;
  transition: all 0.5s ease;
}

.sondüzensweets img{
   object-position: center 40%;
}
.muffin img{
object-fit: cover;
  object-position: 100% center;
  transform: scale(1.0); /* %100 büyütür */
}
.sondüzendonut img{
 
 object-position: 45% 65%;
}
.sondüzenCupCake img{
  object-position: center 60%;
}
.footer-name {
  border-bottom: 1px solid transparent;   /* başlangıçta görünmez çizgi */
  transition: border-color 0.25s ease;    /* yumuşak geçiş */
  padding-bottom: 2px;                    /* çizginin üstünde biraz boşluk için */
}

.footer-name:hover {
  border-color: #c2a878 !important;                  /* hoverda satır rengi */
}

